/* Home section */
body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to right, #1e1e2f, #151520);
    color: #f4f4f4;
    background-image: url('back-img.avif');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
  }
  
.logo {
    font-weight: 700;
    font-size: 1.8rem;
    color: #00d1b2;
    letter-spacing: 1.5px;
  }
  
  .hero .greeting {
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .highlight {
    color: #00d1b2;
  }
  
  .resume-btn {
    margin-top: 20px;
    border-color: #00d1b2;
    color: #00d1b2;
    transition: all 0.3s ease;
  }
  
  .resume-btn:hover {
    background-color: #00d1b2;
    color: #fff;
  }